body {
  font-family: SUZE Mono, Arial;
}

div {
  display: block;
}

.checkout-header, .header-content, .middle-section, .right-section {
  display: flex;
}

.amazon-logo {
  width: 100px;
}

.checkout-header {
  flex: 1;
  flex-shrink: 0;
  height: 70px;
  padding-left: 25px;
  padding-right: 25px;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-content {
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
}

.middle-section {
  position: relative;
  font-size: 25px;
  align-items: center;
}
.return-to-home-link {
  color: rgb(0, 113, 133);
  text-decoration: none;
}

.right-section img {
  overflow-clip-margin: content-box;
  overflow: clip;
  align-items: center;
}

main {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 150px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: bold;
  font-size: 20px;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 11px;
  align-items: start;
}

.cart-item-container, .payment-summary {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 18px;
  margin-bottom: 20px;
}

.delivery-date {
  color: rgb(12, 101, 12);
  font-weight: 600;
  font-size: 20px;
  margin-top: 6px;
  margin-bottom: 21px;
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  column-gap: 20px;
}

.cart-item-details-grid img {
  max-width: 100%;
  max-height: 120%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
.cart-item-container .delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
    cursor: pointer;
}

.delivery-option-date {
  color:rgb(12, 101, 12);
  margin-bottom: 3px;
}

.cart-item-container .delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}
.link-primary {
  color: #017cb6;
  cursor: pointer;
}
.payment-summary, .payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 15px;
  margin-bottom: 10px;
}
.payment-summary-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.payment-summary, .payment-summary-money {
  text-align: left;
}

 .total-row {
  color: rgb(177, 39, 4);
  font-weight: 700;
  font-size: 20px;
  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 16px;
}

.place-order-button {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-primary {
  color: rgb(33, 33, 33);
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252  , 210,0);
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213 , 217, 217, 0.5);
}