body {
  margin: 0;
  background-color: rgb(28, 27, 27) ;
  font-family: Roboto, Arial;
  height: 1000px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
header {
  display: flex;
  position: fixed;
  background-color: black;
  height: 60px;
  width: 100%;
  flex-direction: row ;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  right: 0;
  left: 0;
}
button {
  transition: all 0.5s ;
  cursor: pointer;
}
.left-section {
  position: relative;
  display: flex;
  margin-left: 10px;
}

.middle-section {
  max-width: 700px;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  flex: 1;
  
}
.searchbar {
    flex: 1;
    font-size: 16px;
    height: 38px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 0;
}

.search-btn {
  background-color: rgb(254, 189, 105);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}



.right-section {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 20px;
}
 
.returns, .orders {
  margin-top: 5px;
  display: flex;
  color: white;
}

.shopping-cart {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.cart-icon {
  width: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 80px;
}
 .product-container {
  display: flex;
  flex-direction: column;
  border: 1px solid yellow;
}

.product-container {
  padding: 40px 25px 25px 25px;
}
.product-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

.standard-image-dsgn {
  max-width: 100%;
}

.product-name,  .product-price-container, .Product-name-container {
  color: white;
  margin-bottom: 10px;
}
.product-name {
  font-size: 18px;
}
.product-price{ 
  font-size: 16px;
}
.rating-container {
  display: flex;  
  align-items:start;
  margin-bottom: 10px;
  width: 80%;
}
.star-rating{
  max-width: 100%;
  object-fit: cover;
}

.product-quantity-container {
  margin-bottom: 10px;
}
.quantity-selector {
  cursor: pointer;
  padding: 5px;
}
.add-to-cart-btn-container {
  display: flex; 
  text-align: center;
  justify-content: center;
}

.add-to-cart-btn {
  width: 100%;
  height: 30px;
  background-color: rgb(202, 196, 30);
  border: none;
  border-radius: 15px;
}

.add-to-cart-btn:hover {
  background-color: rgb(228, 228, 47);
}